import './App.css'

function App() {
  return (
    <div className="App">
      <h1>Treasure Hunt</h1>
      <p>Welcome! Start building your treasure hunt app.</p>
    </div>
  )
}

export default App
